<div class="page">
  <div class="card">
    <h1>Usuario</h1>

    <div class="field">
      <strong>Email:</strong>
      <%= @user.email_address %>
    </div>

    <div class="actions">
      <%= button_to "Log out", session_path, method: :delete, class: "button" %>
    </div>
  </div>
</div>
